<footer>
    <div class="bg-dark text-white">
        <div class="container">
            <div class="row p-5">
                
                <div class="col-lg-4">
                    <div class="h3">
                        <a href="/" class="text-white" style="text-decoration: none;">Email Solutions</a>
                        <span class="d-none d-md-inline-block"><span style="font-weight: 200">by</span> 
                            <a href="https://linuxsolutions.org.in/" target="_blank">
                                <img src="https://linuxsolutions.org.in/images/logo3.jpg" style="height: 30px; margin-bottom: 4px; margin-left: 2px" class="logo">
                            </a>
                        </span>
                    </div>
                    <p class="mt-3">
                        We specialize in Email Solutions with over 25 years of experience & are trusted by 200+ SMBs & Enterprises across India. All of our services are tailored to your requirements.
                    </p>                   
                </div>

                <div class="col-lg-3 offset-lg-1">
                    <div class="h3">Services</div>
                    <ul class="services">
                        <li>
                            <i class="bx bxs-envelope"></i>
                            <a href="/services/zimbra-collaboration">
                                Zimbra Collaboration
                            </a>
                        </li>
                        <li>
                            <i class="bx bxl-google"></i>
                            <a href="/services/google-workspace">
                                Google Workspace
                            </a>
                        </li>
                        <li>
                            <i class="bx bxl-microsoft"></i>
                            <a href="/services/microsoft-365">
                                Microsoft 365
                            </a>
                        </li>
                        <li>
                            <i class="bx bx-atom"></i>
                            <a href="/services/hybrid-email-solution">
                                Hybrid Email Solution
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3">
                    <div>
                        <i class="bx bxs-building"></i> <b>Address:</b> <br /> 
                        205 Red Rose Building, Nehru Place, <br />
                        Near Eros Corp. Tower, <br />
                        New Delhi - 110019, India
                    </div>
                    <div class="mt-3">
                        <i class="bx bxs-phone"></i> <b>Phone (For General Queries):</b> <br />
                        +91-11-41097448<br />
                        +91-9810028374
                    </div>
                    <div class="mt-3">
                        <i class="bx bxs-phone"></i> <b>Phone (For Support):</b> <br />
                        +91-9810179147<br />
                        +91-9818001497<br />
                        +91-9205876987
                    </div>                               
                </div>

            </div>

        </div>
    </div>
</footer>
