<nav class="navbar shadow-sm fixed-top navbar-expand-lg navbar-light bg-white">
    <div class="container">
        <a class="navbar-brand" href="/">
            Email Solutions <span class="d-none d-md-inline-block"><span style="font-weight: 200">by</span> <img src="https://linuxsolutions.org.in/images/logo3.jpg" style="height: 30px; margin-bottom: 4px; margin-left: 2px" class="logo"></span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Services
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="/services/zimbra-collaboration">
                                <i class="bx bxs-envelope"></i> Zimbra Collaboration
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/services/google-workspace">
                                <i class="bx bxl-google"></i> Google Workspace
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/services/microsoft-365">
                                <i class="bx bxl-microsoft"></i> Microsoft 365
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item" href="/services/hybrid-email-solution">
                                <i class="bx bx-atom"></i> Hybrid Email Solution
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>