/** Subheader Section **/

section#subheader h1::after {
    background-color: #6C63FF;
}


/** Introduction Section **/

section#introduction h2 span:nth-child(1) {
    display: none;
}

section#introduction h2 span:nth-child(2) {
    color: #6C63FF;
}

section#introduction .change-wrapper:before {
    content: "Cost Effective";
    animation: animate infinite 3s;
}

@keyframes animate {
  
    0% {
        content: "Cost Effective";
    }

    50% {
        content: "Powerful";
    }

    75% {
        content: "Flexible";
    }
}

/** Features Section **/

section#features .feature .icon, section#features .feature .icon:before {
    background: #6C63FF;
    background: linear-gradient(90deg, rgba(108,99,255,1) 0%, rgba(137,130,255,1) 100%);
}

/** Calculator Section **/

section#calculator {
    background-color: #FFFFFF;
}

section#calculator table tr td:first-child {
    font-weight: 600;
}

section#calculator table tr td {
    text-align: right;
}

section#calculator table tr:last-child td {
    border-bottom: 0;
}

section#calculator .monthly-estimate {
    text-align: right;
}

section#calculator .monthly-estimate span:first-child  {
    font-size: 1.25rem;
    font-weight: 700;
}

section#calculator .monthly-estimate span:last-child  {
    font-size: 1.75rem;
}

/* FAQ Section */

.accordion-button:not(.collapsed) {
    color: #665df5;
    background-color: rgb(240,239,254);
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23665df5'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
}

.accordion-button:focus {
    border-color: rgb(240,239,254);
    box-shadow: 0 0 0 0.25rem rgb(240,239,254);
}