/** Subheader Section **/

section#subheader h1::after {
    background-color: #f65314;
}

/** Features Section **/

section#features .feature .icon, section#features .feature .icon:before {
    background: #f65314;
    background: linear-gradient(90deg, rgba(246,83,20,1) 0%, rgba(248,117,67,1) 100%);
}


/** Pricing Section **/

section#pricing {
    background: rgb(253,221,208);
    background: linear-gradient(90deg, rgba(253,221,208,1) 0%, rgba(254,238,232,1) 100%);
}

section#pricing .plan .name {
    background-color: #f65314;
}

section#pricing .plan .features ul li:before {
    content: url('https://ik.imagekit.io/kvit/emailsolutions/services/zimbra-collaboration/list-bullet.svg');
}

/** Calculator Section **/

section#calculator table tr td:first-child {
    font-weight: 600;
}

section#calculator .monthly-estimate {
    text-align: right;
}

section#calculator .monthly-estimate span:first-child  {
    font-size: 1.25rem;
    font-weight: 700;
}

section#calculator .monthly-estimate span:last-child  {
    font-size: 1.75rem;
}


/** FAQ Section **/

.accordion-button:not(.collapsed) {
    color: #f65314;
    background-color: rgb(253,221,208);
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f65314'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
}

.accordion-button:focus {
    border-color: rgb(250, 194, 171);
    box-shadow: 0 0 0 0.25rem rgb(250, 194, 171);
}