body {
    font-family: 'Open Sans', sans-serif;
}

section:first-of-type {
    margin-top: 57px;
}

footer ul.services {
    list-style-type: none;
    padding-left: 0.25rem;
    margin-top: 1rem;
}

footer ul.contact {
    list-style-type: none;
    padding-left: 0.30rem;
}

footer ul.services li {
    margin-top: 0.5rem;
}

footer ul.services a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.15rem;
    vertical-align: middle;
}

footer ul.services i {
    font-size: 1.25rem;
    margin-right: 0.30rem;
    vertical-align: middle;
}

footer ul.services a:hover {
    text-decoration: underline;
}

.hybrid-color {
    color: #665df5;
}

.btn-hybrid {
    background-color: #665df5;
    color: #FFFFFF;
}

.btn-hybrid:hover {
    background-color: #544af4;
    color: #FFFFFF;
}

@media (min-width: 992px) { 

    #navbarNav .bx {
        font-size: 28px;
        margin-right: 10px;
        color: #c7c7c7;
    }
    
    #navbarNav .dropdown-item {
        display: flex;
        transition: all 0.2s ease;
        align-items: center;
        font-weight: 600;
        color: #676767;
        padding: 0 !important;
        margin: 8px 1rem;
        border-bottom: 1px solid;
        border-color: #c7c7c7;
        padding-bottom: 8px !important;
        width: auto;
    }
    
    #navbarNav .dropdown-menu li:last-child a {
        border: none;
        padding-bottom: 0 !important;
    }
    
    #navbarNav .dropdown-menu {
        padding: 5px 0;
    }
    
    #navbarNav .dropdown-item:hover {
        background: transparent;
        transform: scale(1.05);
        transition: all 0.2s ease;
    }

 }

 .animate:hover {
    transform: scale(1.05);
    transition: all 0.2s ease;
}

.animate {
    transition: all 0.2s ease;
}